NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/bookaneers
JWT_SECRET=super_secure_secret_example
JWT_EXPIRES_IN=2h

FRONTEND_URL=http://localhost:3000

HTTPS_PFX_PATH=./cert/server.pfx
HTTPS_PFX_PASSPHRASE=test123

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=bookaneers
KEYCLOAK_ISSUER=http://localhost:8080/realms/bookaneers
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/bookaneers/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=frontend-web
KEYCLOAK_BACKEND_CLIENT_ID=backend
KEYCLOAK_BACKEND_CLIENT_SECRET=backend-secret